<table border="1">
	<thead class="ui-widget-header">
		<tr>
		{% for field in schema %}
		<th>{{ field }}</th>
		{% end %}
		<th></th>
		</tr>
	</thead>
	<tbody id="editortable" targettable="{{ table }}" class="ui-widget-content" style="text-align: right;">
		{% for row in rows %}
			<tr class="editorrow"  targetrow="{{ row[0] }}">
				{% for nr, field in enumerate(row[1:]) %}
				<td class="editorcell" column="{{ schema[nr].split(" ")[0] }}">
				{{ field }}
				</td>
				{% end %}
				<td class = "deletelink">
					<img align="right"
						src="/static/resources/delete.png">
				</td>
			</tr>
		{% end %}
	</tbody>
</table>
<button id="newrow">Create</button>