<table border="1">
	<thead class="ui-widget-header">
		<tr>
		{% for field in schema %}
		<th>{{ field }}</th>
		{% end %}
		<th></th>
		</tr>
	</thead>
	<tbody class="ui-widget-content" style="text-align: right;">
		{% for row in rows %}
			<tr>
				{% for field in row %}
				<td>
				{{ field }}
				</td>
				{% end %}
				<td>
					<img align="right" class = "deletelink"
					targettable = "{{ table }}"
					targetcolumn="{{ schema[0].split(" ")[0] }}"
					targetval="{{ row[0] }}"
					src="/static/resources/delete.png">
				</td>
			</tr>
		{% end %}
	</tbody>
</table>