<!--# Copyright 2011, Barthimaeus <barthimaeus@web.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<html>
<head>
    <script type="text/javascript" src="/static/scripts/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/scripts/login_form.js"></script>
    <link href="/static/css/jquery-ui-1.8.16.custom.css" type="text/css" rel="stylesheet"></link>
</head>
<body style="text-align: center">
    <div id="loginform" class="ui-widget ui-draggable" style="margin: auto; position: absolute; text-align: center;">
        <div class="ui-widget-header ui-corner-top">Login</div>
        <div class="ui-widget-content ui-corner-bottom">
        <form id ="form" style="margin-bottom: 0;">
            Loginname<br>
            <input name = "user" id="username"><br>
            Password<br>
            <input name = "pw" type="password" id="password">
        </form>
        <button id="loginbutton">Login</button>
        </div>
    </div>
</body>
